button {
    background-color:blueviolet;
    color:white;
    /* border-color:rgb(44, 4, 82); */
    border-radius: 5px;
    padding:5px;
}
#start-card {
    /* display:none; */
}
#question-card {
    /* display:none; */
}
#times-up-card {
    /* display:none; */
}
#highscore-card {
    /* display:none; */
}
.top-bar {
    position:relative;
}
#timer {
}
.hide {
    display: none;
}